@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: var(--background);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  padding-left: 120px;
  padding-right: 120px;

  --primary: #3730A3;
  --secondary: #4338ca;
  --background: #ffffff;
  --border:#d1cbef;
  --text: #757575;
  --title: #1F2937;
  --footerBackground:#f9f9f9;
}


:root.dark {
  --primary: #5C57E8;
  --secondary: #6D66F0;
  --background: #121212;
  --border: #3A3A3A;
  --text: #E0E0E0;
  --title: #F1F1F1;
  --footerBackground:#1c1c1c;

}

html.dark, body.dark {
  background-color: var(--background);
}

.Toastify__progress-bar {
  background: #4338ca !important; 
}

footer {
  background-color: var(--footerBackground);
  width: 100vw;
  position: relative;
  left: -120px;
  padding-left: 120px;
  padding-right: 120px;
}

.div-hover-effect:hover {
  @apply bg-footerBackground rounded-lg;
}